<section id="payment">
  <aside class="bg-purple">
    <div class="container text-center">
      <div class="call-to-action">
        <h2>Цены</h2>
        <h5>Как правило, на странице тренинга есть ссылка на оплату. Если вы хотите приобрести несколько тренингов или
          использовать промо-код, воспользуйтесь кнопкой ниже, указав в комментарии, какой тренинг и дата вас интересуют.</h5>
        <hr/>
        <a href="https://secure.wayforpay.com/button/b06d4b2643b9e" target="_blank"
           class="btn btn-primary btn-xl">Оплатить</a>
      </div>
    </div>
  </aside>
</section>
