<link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
<link href='/assets/css/fullcalendar/core/main.css' rel='stylesheet' media="all"/>
<link href='/assets/css/fullcalendar/daygrid/main.css' rel='stylesheet' media="all"/>
<link href='/assets/css/fullcalendar/timegrid/main.css' rel='stylesheet' media="all"/>
<link href='/assets/css/fullcalendar/list/main.css' rel='stylesheet' media="all"/>
<link href='/assets/css/fullcalendar/bootstrap/main.css' rel='stylesheet' media="all"/>
<script src='/assets/js/fullcalendar/core/main.js'></script>
<script src='/assets/js/fullcalendar/interaction/main.js'></script>
<script src='/assets/js/fullcalendar/daygrid/main.js'></script>
<script src='/assets/js/fullcalendar/list/main.js'></script>
<script src='/assets/js/fullcalendar/timegrid/main.js'></script>
<script src='/assets/js/fullcalendar/bootstrap/main.js'></script>
