<section class="dark-section" id="contact">
    <div class="container">
        <div class="row">
            <div style="float: left;width: 200px; margin-right: 20px;">
                <div class="text-center">
                    <picture>
                        <source srcset="/assets/img/photo.webp" type="image/webp">
                        <img src="/assets/img/photo.png" alt="{{ site.author.name }}">
                    </picture>
                </div>
            </div>
            <div style="padding: 0 10px ">
                <h2 style="margin-top: 0">Контакты</h2>
                <span class="description">
            Меня зовут Владислав Волков, я буду рад помочь тебе по возникающим вопросам, как техническим, так и
            организационным. Контакты доступны на каждой странице - возле логотипа <img src="/assets/img/logo-icon.svg"
                                                                                        width="18" height="18"
                                                                                        alt="Hiberbee"/> в шапке
            сайта. О моем опыте подробнее описано в <a
                        rel="noopener"
                        href="https://linkedin.com/in/{{ site.author.linkdin }}"
                        target="_blank">
                            LinkedIn
                        </a>
          </span>
            </div>
        </div>
    </div>
</section>
