<section id="contact">
    <div class="container">
        <h2>Контакты</h2>
        <div style="float: left;margin-right: 10px;">
            <picture>
                <source srcset="/assets/img/photo.webp" type="image/webp">
                <img src="/assets/img/photo.png" width="150" height="150" alt="{{ site.author.name }}">
            </picture>
        </div>
        <p>
            Меня зовут Владислав, и этот проект - результат трансформации моих знаний, опыта и прецедентов из практики
            технического консультирования - в обучающие программы, с целью поддержки, супервайзинга и формирования
            лучших инженерных и архитектурных практик.
        </p>
        <p>Детальней о моем опыте и специализации написано <a href="/about/">здесь</a> и в
            <img class="icon" src="/assets/img/icons/linkedin.svg" width="16" height="16" alt="LinkedIn"/>
            <a style="display: inline-block" rel="noopener" onclick='FB.AppEvents.logEvent("linkedInLinkClicked")'
               href="https://linkedin.com/in/{{ site.author.linkedin }}"
               target="_blank">профайле
            </a>, а лучше приходи за знаниями и поддержкой - я открыт для диалога в любое время.
        </p>
        <p>Контакты доступны на каждой странице - возле логотипа <img src="/assets/img/logo-icon.svg"
                                                                      width="18" height="18"
                                                                      alt="Hiberbee"/> в шапке
            сайта. Для удобства достаточно скачать
            <img class="icon" src="/assets/img/icons/vcard.svg" width="16" height="16" alt="vCard"/>
            <a rel="noopener" id="vCardLinkClicked" class="facebookEvent" href="/vcard.vcf" target="_blank">
                электронную визитку
            </a>
        <p>
    </div>
</section>
