{% for training in include.trainings %}
    {% assign events = site.events | where_exp: "item", "item.slug == training.slug" | where_exp: "item", "item.date >= site.time" %}
    {% assign category = training.categories | first %}
    {% for event in events %}
        {
            title: '{{ training.title }}: {{ training.description }}',
            start: '{{ event.date | date: "%Y-%m-%d" }}T{{ event.time_start }}',
            end: '{{ event.date | date: "%Y-%m-%d" }}T{{ event.time_end }}',
            url: '/trainings/{{ training.slug }}/',
            color: '{{ site.data.colors[category] }}'
        },
    {% endfor %}
{% endfor %}
