<nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: transparent">
    <div class="container-fluid text-right">
        <ul class="nav navbar-nav navbar-right">
            <li style="display: inline-block;">
                <a style="font-size: 12px" href="mailto:contact@hiberbee.com"
                >contact@hiberbee.com</a>
            </li>
            <li style="display: inline-block">
                <a style="font-size: 12px" href="/privacy-policy/">Privacy Policy</a>
            </li>
            <li style="display: inline-block">
                <a style="font-size: 12px" href="/terms-of-use/">Terms of use</a>
            </li>
        </ul>
    </div>
</nav>
