<footer class="bg-dark">
    <div class="container no-padding">
        <div class="row">
            <div class="col-lg-2 col-md-6">
                <p class="font-weight-normal">Контакты</p>
                <ul class="no-padding">
                    <li>
                        <a rel="noopener" class="facebookEventLink" data-anchor="footerContactsClicked"
                           href="https://m.me/{{ site.data.me.facebook }}"
                           target="_blank">
                            <img class="icon" style="margin-right: 5px" src="/assets/img/icons/messenger.svg"
                                 alt="Messenger"
                                 width="16" height="16"/>
                        </a>
                        <a href="https://t.me/{{ site.data.me.telegram }}" class="facebookEventLink"
                           data-anchor="footerContactsClicked" rel="noopener" target="_blank">
                            <img class="icon" style="margin-right: 5px" src="/assets/img/icons/telegram.svg"
                                 alt="Telegram"
                                 width="16" height="16"/>
                        </a>
                        <a rel="noopener" class="facebookEventLink" data-anchor="footerContactsClicked"
                           href="https://instagram.com/{{ site.data.me.instagram }}"
                           target="_blank">
                            <img class="icon" style="margin-right: 5px" src="/assets/img/icons/instagram.svg"
                                 alt="Instagram"
                                 width="16" height="16"/>
                        </a>
                        <a rel="noopener" class="facebookEventLink" data-anchor="footerContactsClicked"
                           href="https://facebook.com/{{ site.data.me.facebook }}"
                           target="_blank">
                            <img class="icon" style="margin-right: 5px" src="/assets/img/icons/facebook.svg"
                                 alt="Facebook"
                                 width="16" height="16"/>
                        </a>
                    </li>
                    <li>
                        <a rel="noopener" class="facebookEventLink" data-anchor="footerContactsClicked"
                           href="tel:+380671204517">
                            +380671204517
                        </a>
                    </li>
                    <li>
                        <a rel="noopener" href="mailto:contact@hiberbee.com">
                            contact@hiberbee.com
                        </a>
                    </li>
                    <li>
                        <a rel="noopener" data-anchor="vCardLinkClicked" class="facebookEventLink" href="/vcard.vcf"
                           target="_blank">
                            Электронная визитка
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <p class="font-weight-normal">О проекте</p>
                <ul class="no-padding">
                    <li>
                        <a href="/about/">Тренер</a>
                    </li>
                    <li>
                        <a href="/faq/">FAQ</a>
                    </li>
                    <li>
                        <a href="/taxonomy/">Таксономия</a>
                    </li>
                    <li>
                        <a data-anchor="rssSubscribed" class="facebookEventLink"
                           rel="noopener"
                           target="_blank" href="/feed.xml">RSS feed</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-12">
                <p class="font-weight-normal">Юридические документы</p>
                <ul class="no-padding">
                    <li>
                        <a href="/offer/">Договор публичной оферты</a>
                    </li>
                    <li>
                        <a href="/privacy-policy/">Политика конфиденциальности</a>
                    </li>
                    <li>
                        <a href="/terms-of-use/">Пользовательское соглашение</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-12">
                <p>2019 &copy; Hiberbee. Все права защищены.</p>
            </div>
        </div>
    </div>
</footer>
