<footer class="navbar-fixed-bottom">
    <nav class="navbar" style="background-color: transparent">
        <div class="container-fluid text-right">
            {% comment %}
            <div class="theme-switch-wrapper" style="float: left">
                <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox"/>
                </label>
                Enable Dark Mode
            </div>
            {% endcomment %}
            <ul class="nav navbar-nav navbar-right">
                <li style="display: inline-block">
                    <a href="/privacy-policy/">Privacy Policy</a>
                </li>
                <li style="display: inline-block">
                    <a href="/terms-of-use/">Terms of use</a>
                </li>
            </ul>
        </div>
    </nav>
</footer>
