<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        {{ site.organization.name }}<img alt="{{ site.organization.name }}" src="/assets/img/logo-icon.svg"
                                         class="flex-auto"
                                         style="float: left; margin: -5px 20px 0 10px;" width="32" height="32"/></a>
      <a style="padding: 15px 20px;" href="https://m.me/hiberbee" class="navbar-brand" target="_blank"><i
        class="fab fa-facebook-messenger"></i></a>
      <a style="padding: 15px 20px;" href="https://facebook.com/hiberbee" class="navbar-brand" target="_blank"><i
        class="fab fa-facebook-f"></i></a>
      <a style="padding: 15px 20px;" href="https://t.me/{{ site.author.telegram }}" class="navbar-brand"
         target="_blank"><i class="fab fa-telegram"></i></a>
      <a style="padding: 15px 20px;" href="tel:+380681204517" class="navbar-brand" target="_blank"><i
        class="fas fa-mobile-alt"></i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="/#portfolio">Специализация</a>
        </li>
        <li>
          <a class="page-scroll" href="/#trainings">Тренинги</a>
        </li>
        <li>
          <a class="page-scroll" href="/#payment">Цены</a>
        </li>
        <li>
          <a class="page-scroll" href="/#contact">Контакты</a>
        </li>
        <li>
          <a href="/taxonomy/">Таксономия</a>
        </li>
        <li>
          <a href="/faq/">FAQ</a>
        </li>
        <li>
          <a href="/terms-of-use/">Terms of use</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
