<header class="dark">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top text-uppercase">
        <a href="" id="burger" aria-controls="#menu" aria-expanded="false">
            <img class="icon" src="/assets/img/icons/burger.svg" width="16" height="16" alt="Menu">
        </a>
        <a class="navbar-brand" href="/" rel="home" title="{{ site.organization.name }}">
            <img src="/assets/img/logo-icon.svg" width="32" height="32" style="margin-right: 10px;"
                 class="d-inline-block"
                 alt="{{ site.organization.name }}">
            {{ site.organization.name }}
        </a>
        <div class="collapse navbar-collapse" aria-hidden="true" id="menu">
            <ul class="navbar-nav navbar-right">
                <li class="navbar-item">
                    <a class="nav-link" href="/#portfolio">Эспертиза</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/#trainings">Тренинги</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/#services">Сервисы</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/#contact">Контакты</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/about/">О проекте</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
