<main class="hero text-center text-capitalize"
      style="min-height:100vh;position: relative;background-image: url('/assets/img/background/default.webp');">
    <div class="header-content text-uppercase">
        <div class="header-content-inner">
            <h1>{{ page.title }}</h1>
            <hr/>
            <h3>{{ page.description }}</h3>
            <hr/>
            <a href="/#portfolio" class="btn btn-warning btn-lg font-accent">Расписание и программы</a>
        </div>
    </div>
</main>
