<meta http-equiv="Content-Language" content="{{ site.active_lang }}">
<link rel="alternate" href=" /" hreflang="x-default"/>
<link rel="alternate" hreflang="{{ site.default_lang }}" href=" {{ page.permalink }}"/>
{% for lang in site.languages %}
    {% if lang == site.default_lang %}
        {% continue %}
    {% endif %}
    <link rel="alternate" hreflang="{{ lang }}" href="/{{ lang }}{{ page.permalink }}" tz/>
{% endfor %}
<link rel="manifest" href="/manifest.json">
<link rel="alternate" type="application/rss+xml" href="/atom.xml" title="{{ site.data.i18n.index.title }}"/>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link href="/assets/css/fullcalendar/core/main.css" rel="stylesheet" media="all"/>
<link href="/assets/css/fullcalendar/daygrid/main.css" rel="stylesheet" media="all"/>
<link href="/assets/css/fullcalendar/timegrid/main.css" rel="stylesheet" media="all"/>
<link href="/assets/css/fullcalendar/list/main.css" rel="stylesheet" media="all"/>
<link href="/assets/css/fullcalendar/bootstrap/main.css" rel="stylesheet" media="all"/>
<link rel="stylesheet" href="/assets/css/reset.css" media="all">
<link rel="stylesheet" href="/assets/css/main.css" media="all">
<link rel="stylesheet" href="/assets/css/mobile.css" media="only screen and (max-width: 576px)">
