<header style="background-image: url('/assets/img/background/{{ include.page.color }}.png');">
  <div class="header-content" style="text-align: left">
    {% for program in include.page.programs %}
      <h2 style="padding: 0">{{ program.title }}</h2>
      <h4 style="padding: 0">{{ program.teaser }}</h4>
      <a href="https://secure.wayforpay.com/payment/{{ program.ticket_id }}" target="_blank"
         class="btn btn-default btn-xl">Купить билет</a>
    {% endfor %}
    <div class="header-content-inner" style="position: absolute;top: 50%;right: 0;padding: 0 50px">
      <h1>{{ include.page.title }}</h1>
    </div>
  </div>
</header>
