<script>
    window.onload = function () {
        const script = document.createElement('script');
        const firstScript = document.getElementsByTagName('script')[0];
        script.type = 'text/javascript';
        script.async = true;
        script.src = '/sw-register.js?v=' + Date.now();
        firstScript.parentNode.insertBefore(script, firstScript);
    }
    ;
</script>
<script src="https://kit.fontawesome.com/02d494f4a7.js" async defer></script>
<script src='/assets/js/fullcalendar/core/main.js'></script>
<script src='/assets/js/fullcalendar/interaction/main.js'></script>
<script src='/assets/js/fullcalendar/daygrid/main.js'></script>
<script src='/assets/js/fullcalendar/list/main.js'></script>
<script src='/assets/js/fullcalendar/timegrid/main.js'></script>
<script src='/assets/js/fullcalendar/bootstrap/main.js'></script>
