<script>
    window.onload = function () {
        var script = document.createElement('script');
        var firstScript = document.getElementsByTagName('script')[0];
        script.type = 'text/javascript';
        script.async = true;
        script.src = '/sw-register.js?v=' + Date.now();
        firstScript.parentNode.insertBefore(script, firstScript);
    }
    ;
</script>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async defer></script>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '{{ site.data.me.api.facebook_app_id }}',
            cookie: true,
            xfbml: true,
            version: 'v3.3'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
