<section id="services">
    <div class="container text-center">
        <h2>Сервисы</h2>
        <div class="clearfix">
            <div class="col-md-4 text-center">
                <img width="75px" height="75px" src="/assets/img/icons/certificate.webp">
                <h4>Профессиональная переподготовка</h4>
            </div>
            <div class="col-md-4 text-center">
                <img width="75px" height="75px" src="/assets/img/icons/transformation-skill.webp">
                <h4>T-shaped трансформация</h4>
            </div>
            <div class="col-md-4 text-center">
                <img width="75px" height="75px" src="/assets/img/icons/training.webp">
                <h4>Супервизия и менторинг</h4>
            </div>
        </div>
</section>
