<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% for program in include.programs %}
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <div
            style="background-image: url('/assets/img/portfolio/{{ include.color }}-event.png'); width: 320px; height: 240px">
            <h3><a href="/trainings/{{ program.slug }}">{{ program.title }}</a></h3>
            <p class="text-muted">{{ program.teaser }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
