<section id="services" style="background-color: #ffce1c;color: black">
    <div class="container text-center">
        <h2>Сервисы</h2>
        <div class="row">
            <div class="col-4 text-center">
                <img width="75px" height="75px" src="/assets/img/icons/certificate.webp" alt="Cetification">
                <h4>Профессиональная переподготовка</h4>
            </div>
            <div class="col-4 text-center">
                <img width="75px" height="75px" src="/assets/img/icons/transformation-skill.webp"
                     alt="T-Shaped skillset">
                <h4>T-shaped трансформация</h4>
            </div>
            <div class="col-4 text-center">
                <img width="75px" height="75px" src="/assets/img/icons/training.webp" alt="Trainings">
                <h4>Супервизия и менторинг</h4>
            </div>
        </div>
    </div>
</section>
