<section id="trainings" class="dark-section">
    <div class="container text-center">
        <div class="col-md-6 col-sm-12 text-left">
            <h2>Тренинги <a rel="noopener" onclick='FB.AppEvents.logEvent("rssSubscribed")' target="_blank"
                            href="/feed.xml">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M128.081 415.959c0 35.369-28.672 64.041-64.041 64.041S0 451.328 0 415.959s28.672-64.041 64.041-64.041 64.04 28.673 64.04 64.041zm175.66 47.25c-8.354-154.6-132.185-278.587-286.95-286.95C7.656 175.765 0 183.105 0 192.253v48.069c0 8.415 6.49 15.472 14.887 12.018 111.832 7.284 201.473 96.702 208.772 208.772.547 8.397 7.604 14.887 12.018 14.887h48.069c9.149.001 12.489-7.655 15.995-12.79zm144.249.288C439.596 229.677 251.465 40.445 12.503 32.01 7.473 31.686 0 38.981 0 48.012v48.068c0 8.625 6.835 15.645 15.453 15.999 191.179 7.839 344.627 121.312 352.465 352.465.353 8.618 7.373 15.453 15.999 15.453h48.068c9.034-.001 12.329-7.474 12.005-12.504z"/>
                </svg>
            </a></h2>
            <p>Поскольку многие тренинги расчитаны на специалистов разного профиля и покрывают
                несколько
                тем, для их группировки используются теги и <a href="/taxonomy/">таксономия</a>.
                Все тренинги и способы подписки на обновления доступны на <a
                        href="https://github.com/Hiberbee/hiberbee.github.io/tree/development/_posts">Github</a></p>
            <p>Как правило, на странице тренинга есть ссылка на оплату. Если вы хотите приобрести
                несколько тренингов или
                использовать промо-код, воспользуйтесь <a onclick='FB.AppEvents.logEvent("genericPaymentLinkClicked")'
                                                          href="https://secure.wayforpay.com/button/b06d4b2643b9e"
                                                          rel="noopener"
                                                          target="_blank"
                >ссылкой</a>, указав в комментарии, какой тренинг и дата вас
                интересуют.</p>
            <div>
                <h3>По длительности</h3>
                <div class="tag">
                    <img width="12" height="12" src="/assets/img/icons/tag-white.svg"><a href="/tag/2h/">2 часа</a>
                </div>
                <div class="tag">
                    <img width="12" height="12" src="/assets/img/icons/tag-white.svg"><a href="/tag/4h/">4 часа</a>
                </div>

                <h3>По дню недели</h3>
                <div class="tag">
                    <img width="12" height="12" src="/assets/img/icons/tag-white.svg"><a href="/tag/mon/">Понедельник</a>
                </div>
                <div class="tag">
                    <img width="12" height="12" src="/assets/img/icons/tag-white.svg"><a href="/tag/tue/">Вторник</a>
                </div>
                <div class="tag">
                    <img width="12" height="12" src="/assets/img/icons/tag-white.svg"><a href="/tag/wed/">Среда</a>
                </div>
                <div class="tag">
                    <img width="12" height="12" src="/assets/img/icons/tag-white.svg"><a href="/tag/thu/">Четверг</a>
                </div>
                <div class="tag">
                    <img width="12" height="12" src="/assets/img/icons/tag-white.svg"><a href="/tag/fri/">Пятница</a>
                </div>
                <div class="tag">
                    <img width="12" height="12" src="/assets/img/icons/tag-white.svg"><a href="/tag/sat/">Суббота</a>
                </div>

                <h3>По сложности</h3>
                <div class="tag">
                    <img width="12" height="12" src="/assets/img/icons/tag-white.svg"><a href="/tag/starter/">Вводный курс</a>
                </div>
                <div class="tag">
                    <img width="12" height="12" src="/assets/img/icons/tag-white.svg"><a href="/tag/advanced/">Для опытных</a>
                </div>
                <div class="tag">
                    <img width="12" height="12" src="/assets/img/icons/tag-white.svg"><a href="/tag/boost/">Интенсив</a>
                </div>

                <hr/>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="fb-page" data-href="https://www.facebook.com/hiberbee/" data-tabs="events,messages"
                 data-width="500"
                 data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                 data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/hiberbee/" class="fb-xfbml-parse-ignore"><a
                        href="https://www.facebook.com/hiberbee/">Hiberbee</a></blockquote>
            </div>
        </div>
    </div>
</section>
