<section id="trainings">
    <div class="container text-center">
        <div class="col-md-6 col-sm-12 text-left">
            <h2>Тренинги <a rel="noopener" onclick='FB.AppEvents.logEvent("rssSubscribed")' target="_blank"
                            href="{{ site.url }}/atom.xml"><i class="fas fa-rss"></i></a></h2>
            <p>Поскольку многие тренинги расчитаны на специалистов разного профиля и покрывают
                несколько
                тем, для их группировки используются теги и <a href="/taxonomy/">таксономия</a>.
                Все тренинги и способы подписки на обновления доступны на <a
                        href="https://github.com/Hiberbee/hiberbee.github.io/tree/development/_posts">Github</a></p>
            <p>Как правило, на странице тренинга есть ссылка на оплату. Если вы хотите приобрести
                несколько тренингов или
                использовать промо-код, воспользуйтесь <a onclick='FB.AppEvents.logEvent("genericPaymentLinkClicked")'
                                                          href="https://secure.wayforpay.com/button/b06d4b2643b9e"
                                                          rel="noopener"
                                                          target="_blank"
                >ссылкой</a>, указав в комментарии, какой тренинг и дата вас
                интересуют.</p>
            <div>
                <h3>По длительности</h3>
                #<a class="tag" href="/tag/2h/">2 часа</a>
                #<a class="tag" href="/tag/4h/">4 часа</a>
                <h3>По дню недели</h3>
                #<a class="tag" href="/tag/mon/">Понедельник</a>
                #<a class="tag" href="/tag/tue/">Вторник</a>
                #<a class="tag" href="/tag/wed/">Среда</a>
                #<a class="tag" href="/tag/thu/">Четверг</a>
                #<a class="tag" href="/tag/fri/">Пятница</a>
                #<a class="tag" href="/tag/sat/">Суббота</a>
                <h3>По сложности</h3>
                #<a class="tag" href="/tag/essentials/">Вводный курс</a>
                #<a class="tag" href="/tag/advanced/">Для опытных</a>
                #<a class="tag" href="/tag/boost/">Интенсив</a>
                <h3>Рекомендуем вместе</h3>
                #<a class="tag" href="/tag/kubernetes/">Kubernetes</a>
                #<a class="tag" href="/tag/spring-boot/">Spring Boot</a>
                #<a class="tag" href="/tag/serverless/">Serverless</a>
                <hr/>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="fb-page" data-href="https://www.facebook.com/hiberbee/" data-tabs="events,messages"
                 data-width="500"
                 data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                 data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/hiberbee/" class="fb-xfbml-parse-ignore"><a
                        href="https://www.facebook.com/hiberbee/">Hiberbee</a></blockquote>
            </div>
        </div>
    </div>
</section>
