---
---

@charset "utf-8";
@font-face {
  font-family: "Myriad Pro Semibold";
  font-style: normal;
  font-display: fallback;
  font-weight: normal;
  src: local("Myriad Pro Semibold"), url("../fonts/MyriadPro-Semibold.ttf");
}

@font-face {
  font-family: "Myriad Pro Bold";
  font-style: normal;
  font-display: fallback;
  font-weight: normal;
  src: local("Myriad Pro Bold"), url("../fonts/MyriadPro-Bold.ttf");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-display: fallback;
  font-weight: normal;
  src: local("Myriad Web Pro Regular"), url("../fonts/MyriadPro-Regular.ttf");
}

@mixin headerFont() {
  font-family: "Myriad Pro Bold", sans-serif;
}


@mixin accentFont() {
  font-family: "Myriad Pro Semibold", sans-serif;
}

@mixin regularFont() {
  font-family: "Myriad Pro", sans-serif;
}

@mixin transition-all() {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

$primaryColor: #e6b12e;
$darkColor: #222222;

html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

html,
body {
  height: 100%;
  width: 100%;
  @include regularFont;
  font-size: 16px;
}

a {
  @include transition-all;

  :hover {
    text-decoration: none;
  }

}

h1, h2, h3, h4, h5, h6 {
  @include headerFont;
  margin: 10px 0;
}

a:hover {
  color: $primaryColor;
}

section {
  background: #ffffff;
}

.dark-section a {
  color: $primaryColor;
}

hr {
  border: none;
}

.tag {
  @include accentFont;
  display: inline-block;
  margin-right: 5px;
  font-size: 18px;
}

span {
  @include accentFont;
  font-size: 16px;
}

.not-found {
  background-image: url("../img/background/404.webp");
}

.dark-section {
  background-color: #222222;
  color: white;

  a {
    color: $primaryColor;

    &:hover,
    &:focus {
      color: white;
    }
  }

  h1, h2 {
    color: $primaryColor;
  }

  h3, h4, h5, h6, span, p {
    color: white;
  }
}

h1 {
  margin-top: 40px;
  padding-top: 40px;
}

.text-primary {
  color: $primaryColor
}

.text-faded {
  color: rgba(255, 255, 255, .7);
}

section, aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

header,section {
  svg {
    width: 18px;
    height: 18px;
    path {
      fill: white;
    }

    :hover, :focus, :active path {
      @include transition-all;
      fill: $primaryColor
    }
  }
}

main {
  padding-bottom: 50px;
}

.navbar-nav {
  margin: 0;
}

.navbar-default {
  color: #ffffff;
  background-color: $darkColor;
  border: none !important;

  .navbar-header {
    a {
      font-size: 20px;
      color: #ffffff;
      text-transform: uppercase;
      padding: 15px 10px 5px;
      line-height: 30px;

      &:hover,
      &:focus {
        color: $primaryColor;
      }
    }

  }

  .nav {
    > li {
      > a,
      > a:focus {
        text-transform: uppercase;
        font-size: 14px;
        color: #ffffff;

        &:hover {
          color: $primaryColor;
        }
      }
    }
  }

  .navbar-header a {
    color: #ffffff;

    &:hover,
    &:focus {
      color: $primaryColor;
    }
  }

  @media (min-width: 768px) {
    .navbar-right {
      margin-right: 15px;
    }
    #menu {
      display: block;
    }

    .nav > li > a {
      margin-left: 0;
      padding: 15px 10px;
    }
  }
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  min-height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;

  .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;

    .header-content-inner {
      h1 {
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
      }

      p {
        color: rgba(white, .7);
        margin-bottom: 50px;
      }
    }
  }

  @media (min-width: 768px) {
    min-height: 100%;
    .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px;

      .header-content-inner {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

header {
  a {
    @include accentFont;
  }
}

footer {
  height: 50px;

  nav li a {
    text-transform: none;
    @include regularFont;
    font-size: 12px;
  }
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;

  .portfolio-box-caption {
    color: white;
    opacity: 0.7;
    display: block;
    background: rgba(34, 34, 34, 0.7);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;

    .portfolio-box-caption-content {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      .project-name a {
        color: $primaryColor;
      }
    }
  }

  &:hover {
    .portfolio-box-caption {
      @include transition-all;
      opacity: 1;
    }
  }

}

.text-primary {
  color: $primaryColor;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  color: #282828;
  background-color: #f8cf4c;
  border: #f8cf4c;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle & {
    opacity: 0.7;
  }

  &:active,
  &.active,
  .open > .dropdown-toggle & {
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      opacity: 0.7;
    }
  }
}

.btn {
  @include accentFont;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: $darkColor;
}

::selection {
  color: white;
  text-shadow: none;
  background: $darkColor;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

#burger {
  display: none;
}
