---
layout: default
---
{% capture nowunix %}{{ 'now' | date: '%s'}}{% endcapture %}
{% assign reversed_tags = site.tags[page.title] | reverse %}
{% assign reversed_categories = site.categories[page.title] | reverse %}
<section class="container">
  <h1>#{{ page.title }}</h1>
  <ul>
    {% for post in reversed_categories %}
      {% capture posttime %}{{ post.date | date: '%s'}}{% endcapture %}
      {% if posttime >= nowunix %}
        <li>
          <h4>
            <a class="tag" href="{{ post.url }}">
              {{ post.title }}: {{ post.subtitle }}</a> <span
            class="event-time">{{ post.date | date: "%A, %-d %B" }} {{ post.time }}</span>
          </h4>
        </li>
      {% endif %}
    {% endfor %}
    {% for post in reversed_tags %}
      {% capture posttime %}{{ post.date | date: '%s'}}{% endcapture %}
      {% if posttime >= nowunix %}
        <li>
          <h4>
            <a class="tag" href="{{ post.url }}">
              {{ post.title }}: {{ post.subtitle }}</a> <span
            class="event-time">{{ post.date | date: "%A, %-d %B" }} {{ post.time }}</span>
          </h4>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
