---
layout: default
pagination:
enabled: false
---
{% assign posts = paginator.posts | sort: "slug"  %}
<main class="container">
    <h1>{{ page.title }}</h1>
    <ul>
        {% for post in posts %}
            {% assign event = site.events | where_exp: "item", "item.slug == post.slug" | where_exp: "item", "item.date >= site.time" | first %}
            {% if event %}
                <li>
                    <h4>
                        <a class="tag" href="/trainings/{{ event.slug }}/">{{ event.name }}: {{ event.description }}
                        </a>
                        <span>{{ event.date | date: "%A, %-d %B" }} {{ event.time_start }} - {{ event.time_end }}</span>
                    </h4>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</main>
