<!DOCTYPE html>
<html class="dark" lang="en">
<head>
    <title>{{ page.title | default: site.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ page.tags | join: "," | default: site.keywords }}">
    {% include links.html %}
    {% include scripts.html %}
</head>
<body id="page-top">
{% include header.html site=site %}
{{ content }}
{% include footer.html %}
<script src="/assets/js/main.js"></script>
</body>
</html>
