<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#e6b12e">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <title>{{ site.title }}</title>
    {% include styles.html %}
    {% include scripts.html %}
</head>
<body id="page-top">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId={{ site.facebook_app_id }}&autoLogAppEvents=1"></script>
{% include header.html site=site %}
{{ content }}
{% include footer.html %}
</body>
</html>
