---
layout: default
---
{% assign categories = site.trainings  | map: 'categories' | uniq | sort %}
{% assign tags = site.trainings  | map: 'tags' | uniq | sort %}
<main class="hero dark-section" style="text-align: left; background-image: url('/assets/img/background/black.png');">
    <div class="container">
        <h1>Таксономия</h1>
        <h3>Категории</h3>
        {% for category in categories %}
            <a class="tag" href="/category/{{ category | downcase }}/"><span
                    class="text-faded">#</span>{{ category }}</a>
        {% endfor %}
        <h3>Теги</h3>
        {% for tag in tags %}
            #<a class="tag" href="/tag/{{ tag | downcase }}/">{{ tag }}
        </a>
        {% endfor %}
    </div>
</main>
