---
layout: default
---
{% assign categories = site.trainings  | map: 'categories' | uniq | sort %}
{% assign tags = site.trainings  | map: 'tags' | uniq | sort %}
<h1>{{ site.data.i18n.taxonomy.title }}</h1>
<h2>{{ site.data.i18n.global.categories }}</h2>
{% for category in categories %}
    <div class="badge"
         style="font-size: 14px;padding: 5px;background-color: {{ site.data.colors[category] }}!important;">
        <a style="color: white" href="/category/{{ category | downcase }}/">{{ category }}</a>
    </div>
{% endfor %}
<h2>{{ site.data.i18n.global.tags }}</h2>
{% for tag in tags %}
    <div class="tag">
        <img alt="{{ tag }}" class="icon" width="12" height="12" src="/assets/img/icons/tag.svg"><a
            class="font-weight-bold"
            href="/tag/{{ tag | slugify }}/">{{ tag }}</a>
    </div>
{% endfor %}
